extends _layout.pug
block main
    section.attendance-section
        .container
            .attendance-items
                a(href="#").attendance-item
                    .a-img
                        img(src="img/attendance/a-1.jpg", alt="")
                    .a-dscr
                        span 
                            | Ремонт коттеджей
                        i
                            | офисы, бизнесс-центры, рестораны
                a(href="#").attendance-item
                    .a-img
                        img(src="img/attendance/a-2.jpg", alt="")
                    .a-dscr
                        span 
                            | Высотные работы
                        i
                            | офисы, бизнесс-центры, рестораны
                a(href="#").attendance-item
                    .a-img
                        img(src="img/attendance/a-3.jpg", alt="")
                    .a-dscr
                        span 
                            | Ремонт фасадов зданий
                        i
                            | офисы, бизнесс-центры, рестораны
                a(href="#").attendance-item
                    .a-img
                        img(src="img/attendance/a-4.jpg", alt="")
                    .a-dscr
                        span 
                            | Ремонт комнатных помещений
                        i
                            | офисы, бизнесс-центры, рестораны

    section.congrat-section
        .container
            .congrat-info
                span    
                    | Поздравляем вас с наступающими праздниками
                p.
                    Сбербанк снизил ипотечную ставку по программе «ипотека с государственной поддержкой» для жилых объектов строительной компании «СКН». Новая ставка распространяется на все строящиеся и готовые жилые комплексы компании: ЖК «Коллонтай, 2», ЖК «Складская 27-28», ЖК «Ярославский д. 23 и д. 27» и ЖК «На Нижне-Каменской»
