extends _layout.pug
block main
    section.services
        .services__title
            .title-wrap
                h2.main-title
                    | Широкий спектр ремонтных услуг
                .title-caption
                    | С учетом Ваших требований и нашего опыта, мы предложим наиболее оптимальные технологии и материалы.
        .services__list
            a.services__item(href='#')
                .services__image.services__image_cottage
                .services__name
                    .name
                        | Ремонт коттеджей
                    .caption
                        | офисы, бизнесс-центры, рестораны
            a.services__item(href='#')
                .services__image.services__image_high
                .services__name
                    .name
                        | Высотные работы
                    .caption
                        | офисы, бизнесс-центры, рестораны
            a.services__item(href='#')
                .services__image.services__image_facade
                .services__name
                    .name
                        | Ремонт фасадов зданий
                    .caption
                        | офисы, бизнесс-центры, рестораны
            a.services__item(href='#')
                .services__image.services__image_room
                .services__name
                    .name
                        | Ремонт комнатных помещений
                    .caption
                        | офисы, бизнесс-центры, рестораны
        .services__pre-footer
            .pre-footer__title
                | Поздравляем вас с наступающими праздниками
            .pre-footer__caption
                | Сбербанк снизил ипотечную ставку по программе «ипотека с государственной поддержкой» для жилых объектов строительной компании «СКН». Новая ставка распространяется на все строящиеся и готовые жилые комплексы компании: ЖК «Коллонтай, 2», ЖК «Складская 27-28», ЖК «Ярославский д. 23 и д. 27» и ЖК «На Нижне-Каменской»


