header.header
	.container
		a(href='/').logo__link
			img(src='img/logo.white.svg')
		menu.header__menu
			-var list = ['Главная','О компании','прайс','услуги','наши работы','Новости','контакты']
			each item in list 
				li.menu__item
					a.menu__link(href='#')=item
			li.menu__item.menu__tel
				a.menu__tel-link(href='tel:+78129214449') 
					span +7 (812) 
					span.accent 921‑44-49
				a.menu__call-request(href='#') Заказать звонок!



