section.shares-section
	.container
		.shares-wrapper
			.title
				| акции
			.shares-items
				.shares-item
					.sh-img
						.img
							img(src="img/shares/master.svg", alt="")
					.sh-dscr
						p
							| Выезд мастера 
							span бесплатно
						a(href="#")
							| Подробнее...
				.shares-item
					.sh-img
						.img
							img(src="img/shares/percent.svg", alt="")
					.sh-dscr
						p
							span скидки
							|  на все виды работ
						a(href="#")
							| Подробнее...
				.shares-item
					.sh-img
						.img
							img(src="img/shares/plus.svg", alt="")
					.sh-dscr
						p
							span дополнительные  скидки <br>
							| ( сезонные )
						a(href="#")
							| Подробнее...
				.shares-item
					.sh-img
						.img
							img(src="img/shares/pen.svg", alt="")
					.sh-dscr
						p
							| Составление сметы 
							span бесплатно
						a(href="#")
							| Подробнее...