section.main__slider.owl-carousel
	each item in [1,2]
		.main__slider-item(style='background-image: url(img/main_slider.jpg)')
			.container
				.main__slider-content
					h3.main__slide-title Качественный ремонт жилых и коммерческих помещений!
					a.main__slide-link(href='#') Подробнее >>
section.shares-section
	.container
		.shares-wrapper
			.title
				| акции
			.shares-items
				.shares-item
					.sh-img
						.img
							img(src="img/shares/master.svg", alt="")
					.sh-dscr
						p
							| Выезд мастера 
							span бесплатно
						a(href="#")
							| Подробнее...
				.shares-item
					.sh-img
						.img
							img(src="img/shares/percent.svg", alt="")
					.sh-dscr
						p
							span скидки
							|  на все виды работ
						a(href="#")
							| Подробнее...
				.shares-item
					.sh-img
						.img
							img(src="img/shares/plus.svg", alt="")
					.sh-dscr
						p
							span дополнительные  скидки <br>
							| ( сезонные )
						a(href="#")
							| Подробнее...
				.shares-item
					.sh-img
						.img
							img(src="img/shares/pen.svg", alt="")
					.sh-dscr
						p
							| Составление сметы 
							span бесплатно
						a(href="#")
							| Подробнее...