section.shares-section
	.container
		.shares-wrapper
			.sh-title
				| акции
			.shares-items
				.shares-item
					.sh-img-wrap
						.sh-img
							img(src="img/shares/master.svg", alt="")
					.sh-dscr
						p
							| Выезд мастера 
							span бесплатно
						a(href="#")
							| Подробнее...
				.shares-item
					.sh-img-wrap
						.sh-img
							img(src="img/shares/percent.svg", alt="")
					.sh-dscr
						p
							span скидки
							|  на все виды работ
						a(href="#")
							| Подробнее...
				.shares-item
					.sh-img-wrap
						.sh-img
							img(src="img/shares/plus.svg", alt="")
					.sh-dscr
						p
							span дополнительные  скидки <br>
							| ( сезонные )
						a(href="#")
							| Подробнее...
				.shares-item
					.sh-img-wrap
						.sh-img
							img(src="img/shares/pen.svg", alt="")
					.sh-dscr
						p
							| Составление сметы 
							span бесплатно
						a(href="#")
							| Подробнее...

section.services-section
	.container
		.services-wrapper
			.serv-title
				| услуги
			.services-items
				.services-item
					.services-content
						.serv-img
							img(src="img/services/serv-1.jpg", alt="")
						.serv-dscr-wrap
							.serv-dscr
								p
									| Ремонт коттеджей
					.serv-dscr-wrap--hidden.u-up
						.serv-dscr--hidden
							p
								| Ремонт коттеджей
							i
								| офисы, бизнесс-центры, рестораны
							a(href="#").btn
								| Подробнее  >>
				.services-item
					.services-content
						.serv-img
							img(src="img/services/serv-2.jpg", alt="")
						.serv-dscr-wrap
							.serv-dscr
								p
									| Ремонт комнатных <br> помещений
					.serv-dscr-wrap--hidden.d-down
						.serv-dscr--hidden
							p
								| Ремонт коттеджей
							i
								| офисы, бизнесс-центры, рестораны
							a(href="#").btn
								| Подробнее  >>
				.services-item
					.services-content
						.serv-img
							img(src="img/services/serv-3.jpg", alt="")
						.serv-dscr-wrap
							.serv-dscr
								p
									| Ремонт фасадов <br> зданий
					.serv-dscr-wrap--hidden.u-up
						.serv-dscr--hidden
							p
								| Ремонт коттеджей
							i
								| офисы, бизнесс-центры, рестораны
							a(href="#").btn
								| Подробнее  >>
				.services-item
					.services-content
						.serv-img
							img(src="img/services/serv-4.jpg", alt="")
						.serv-dscr-wrap
							.serv-dscr
								p
									| Высотные работы
					.serv-dscr-wrap--hidden.d-down
						.serv-dscr--hidden
							p
								| Ремонт коттеджей
							i
								| офисы, бизнесс-центры, рестораны
							a(href="#").btn
								| Подробнее  >>
section.advantages-section
	.container
		.advantages-wrapper
			.adv-title
				|  преимущества
			.advantages-items
				.advantages-item
					.adv-img-wrap
						.adv-img
							img(src="img/advantages/security.svg", alt="")
					.adv-dscr
						span гарантия  3 года 
						p.
							Предоставляем гарантию на все виды работ в течение 2 лет с момента сдачи.
				.advantages-item
					.adv-img-wrap
						.adv-img
							img(src="img/advantages/purpose.svg", alt="")
					.adv-dscr
						span гарантия  3 года 
						p.
							Предоставляем гарантию на все виды работ в течение 2 лет с момента сдачи.
				.advantages-item
					.adv-img-wrap
						.adv-img
							img(src="img/advantages/spanner.svg", alt="")
					.adv-dscr
						span гарантия  3 года 
						p.
							Предоставляем гарантию на все виды работ в течение 2 лет с момента сдачи.
				.advantages-item
					.adv-img-wrap
						.adv-img
							img(src="img/advantages/quality.svg", alt="")
					.adv-dscr
						span гарантия  3 года 
						p.
							Предоставляем гарантию на все виды работ в течение 2 лет с момента сдачи.
				.advantages-item
					.adv-img-wrap
						.adv-img
							img(src="img/advantages/master.svg", alt="")
					.adv-dscr
						span гарантия  3 года 
						p.
							Предоставляем гарантию на все виды работ в течение 2 лет с момента сдачи.
section.about-section
	.container
		.about-container
			.about-dscr
				span О нас
				p.
					Мы профессионально решаем задачи клиентов в области обустройства интерьеров. Предлагаем комплексные решения, предоставляя клиенту возможность заниматься своим делом и быть уверенным в результате.
section.feedback-section
	.container
		.feedback-container.clearfix
			.feedback-dscr.fl-l
				span
					| оставьте заявку
				p.
					И мы рассчитаем стоимость и сроки выполнения <br> ремонтно-отделочных работ совершенно <br> бесплатно
			.feedback-form-wrapper.fl-r
				form(action="/").f-form
					span.f-title Телефон
					label.l-phone(for="phone")
						input.i-phone(type="text" placeholder="Ваш телефон")
					button(type="submit").b-submit оставить заявку