script(defer="defer" src="js/vendor/vendor.js")
script(async='async', defer='defer', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAyYXkt69G5jcLP3ovfSZLfjGCwQ2YbjHY')
script(defer="defer" src="js/script.js")
