.header {
	position: relative;
	z-index: 2;
	background-color: #fff;

	.container {
		padding-top: 25px;
		padding-bottom: 10px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	&.header_common {
		.logo__link {
			width: 150px;
			img {
				width: 100%;
			}
		}
		.header__menu {
			position: relative;
			top: -5px;
		}
	}
	&.main-page__header {
		background: none;
		.menu__tel-link,
		.menu__call-request,
		.menu__link {
			color: #ffffff;
		}
		.menu__link {
			&:hover {
				border: 2px solid #ffffff;
			}
		 }
	}
}
.header__menu {
	margin-left: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex: 1;
}
.menu__link {
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 11px 15px;
	border: 2px solid rgba(1,1,1,0);
	&:hover {
		border-radius: 9px;
		border: 2px solid #1f82d8;
	}
}
.menu__tel-link {
	font-family: Arial;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	span {
		// display: inline-block;
		// vertical-align: middle;
		// margin-right: 0.3em;		
	}
	.accent {
		// display: inline-block;
		// vertical-align: middle;
		font-size: 16px;
		font-weight: 700;
	}
	display: block;
}
.menu__call-request {
	font-family: "Arial Narrow";
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
}
.menu__tel {
	text-align: right;
}