// shares
.shares-section {
    padding: {
        top: 40px;
        bottom: 35px;
    }
}
.sh-title {
    @extend .title;
    margin-bottom: 55px;
}
.shares-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shares-item {
    text-align: center;
    width: 24%;
}
.sh-img-wrap {
    margin-bottom: 25px;
}
.sh-img {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    &:before {
        content: "";
        position: absolute;
        background: url(../img/shares/lines.png);
        width: 58px;
        height: 58px;
        display: block;
        left: 50%;
        margin: -7px 0 0 -29px;
    }
    img {
        width: 100%;
        height: 100%;
    }
}
.sh-dscr {
    p {
        color: #000;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 15px;
        min-height: 55px;
    }
    span {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        color: $ac;
    }
    a {
        color: #000;
        font-size: 11px;
        font-weight: bold;
        text-decoration: underline;
        @include transition(.25s);
        &:hover {
            color: #1564ba;
        }
    }
}
// services
.services-section {
    padding: {
        top: 35px;
        bottom: 45px;
    }
}
.serv-title {
    @extend .title;
    margin-bottom: 45px;
}
.services-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.services-item {
    overflow: hidden;
    position: relative;
    margin: 8px;
    &:hover {
        .serv-dscr-wrap {
            opacity: 0;
        }
        .serv-dscr-wrap--hidden {
            top: 0;
        }
    }
}
.services-content {
    position: relative;
}
.serv-img {
    line-height: 0;
}
.serv-dscr-wrap {
    @include transition(opacity .25s);
    opacity: 1;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, .59) 1%, rgba(255, 255, 255, 0) 100%);
    background:      -o-linear-gradient(bottom, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, .59) 1%, rgba(255, 255, 255, 0) 100%);
    background:     -ms-linear-gradient(bottom, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, .59) 1%, rgba(255, 255, 255, 0) 100%);
    background:    -moz-linear-gradient(bottom, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, .59) 1%, rgba(255, 255, 255, 0) 100%);
    background:         linear-gradient(to top, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, .59) 1%, rgba(255, 255, 255, 0) 100%);
    height: 120px;
}
.serv-dscr {
    position: relative;
    width: 100%;
    height: 100%;
    p {
        position: absolute;
        bottom: 0;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        padding: 0 0 20px 20px;
        min-height: 70px;
    }
}
.serv-dscr-wrap--hidden {
    transition: top .4s;
    position: absolute;
    padding: 20px;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(bottom, rgba(31, 129, 209, .75) 0%, rgba(31, 129, 209, .75) 55%, rgba(130, 183, 227, .75) 100%);
    background:      -o-linear-gradient(bottom, rgba(31, 129, 209, .75) 0%, rgba(31, 129, 209, .75) 55%, rgba(130, 183, 227, .75) 100%);
    background:     -ms-linear-gradient(bottom, rgba(31, 129, 209, .75) 0%, rgba(31, 129, 209, .75) 55%, rgba(130, 183, 227, .75) 100%);
    background:    -moz-linear-gradient(bottom, rgba(31, 129, 209, .75) 0%, rgba(31, 129, 209, .75) 55%, rgba(130, 183, 227, .75) 100%);
    background:         linear-gradient(to top, rgba(31, 129, 209, .75) 0%, rgba(31, 129, 209, .75) 55%, rgba(130, 183, 227, .75) 100%);
    p {
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    i {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        display: block;
        margin-bottom: 21px;
    }
    a {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        color: #000;
        background: #fff200;
        @include border-radius(5px);
        padding: 10px 0;
        width: 135px;
        text-align: center;
        margin: 0 auto;
        @include transition(.25s);
        &:hover {
            background: #ece788;
        }
    }
}
.serv-dscr--hidden {
    background: rgba(0,0,0,.07);
    width: 100%;
    height: 100%;
    padding: 50px 15px 0 15px;
    text-align: center;
}


// advantages
.advantages-section {
    padding: {
        top: 45px;
        bottom: 80px;
    }
}
.adv-title {
    @extend .title;
    margin-bottom: 60px;
}
.advantages-items {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.advantages-item {
    width: 49%;
    display: flex;
    margin-bottom: 28px;
    &:nth-of-type(odd) {
        padding-right: 30px;
    }
    &:nth-of-type(even) {
        padding-left: 30px;
    }
}
.adv-img-wrap {
    margin-right: 40px;
}
.adv-img {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        background: #fff200;
        border-radius: 50%;
        z-index: -1;
        right: -10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    width: 45px;
    height: 60px;
    img {
        width: 100%;
        height: 100%;
    }
}
.adv-dscr {
    margin-top: 15px;
    span {
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: bold;
        color: $ac;
        display: inline-block;
        margin-bottom: 22px;
        line-height: 20px;
    }
    p {
        font-size: 21px;
        color: #000;
        line-height: 42px;
    }
}
// about
.about-section {
    background: url(../img/a-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about-container {
    max-width: 780px;
    margin: 0 auto;
    max-height: 480px;
    min-height: calc((480/(1180 * .01)*1vw));
    position: relative;
}
.about-dscr {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    span {
        font-size: 30px;
        font-weight: bold;
        display: block;
        margin-bottom: 25px;
        color: #fff;
    }
    p {
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        line-height: 55px;
    }
}
// feedback
.feedback-section {
    background-color: #f9f9f9;
    padding: {
        top: 50px;
        bottom: 50px;
    }
}
.feedback-container {
    max-width: 920px;
    margin: 0 auto;
}
.feedback-dscr {
    max-width: 60%;
    span {
        font-size: 24px;
        font-weight: bold;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 20px;
        display: block;
    }
    p {
        font-size: 24px;
        color: #000;
        line-height: 48px;
    }
}
.feedback-form-wrapper {
    width: 320px;
    padding-top: 10px;
}
.f-title {
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 7px;
    text-align: left;
}
.l-phone {
    display: block;
    margin-bottom: 30px;
}
.i-phone {
    border: 1px solid #e2e2e2;
    @include border-radius(3px);
    padding: 13px;
    width: 100%;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, .5);
    background: transparent;
    &::-webkit-input-placeholder {
        font-size: 14px;
        font-weight: 600;
        color: rgba(0, 0, 0, .5);
    }
    &:-moz-placeholder {
        font-size: 14px;
        color: rgba(0, 0, 0, .5);
        font-weight: 600;
    }
    &::-moz-placeholder {
        font-size: 14px;
        color: rgba(0, 0, 0, .5);
        font-weight: 600;
    }
    &:-ms-input-placeholder {
        font-size: 14px;
        color: rgba(0, 0, 0, .5);
        font-weight: 600;
    }
}
.b-submit {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    background: #fff200;
    @include border-radius(5px);
    padding: 15px 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    @include transition(.25s);
    &:hover {
        background: #ece788;
    }
    &:after {
        content: "";
        position: absolute;
        background: url(../img/arrow.svg);
        width: 74px;
        height: 37px;
        background-size: contain;
        background-repeat: no-repeat;
        bottom: -20px;
        right: 70px;
    }
}



@include breakpoint(1100) {
    .advantages-items {
        justify-content: center;
    }
    .advantages-item {
        display: block;
        padding: 0  10px !important;
        text-align: center;
    }
    .adv-img-wrap {
        margin: 0;
    }
    .adv-img {
        margin: 0 auto;
    }
    .adv-dscr {
        p {
            @include fz(22px);
            @include lh(44px);
            br {
                display: none;
            }
        }
    }
    .about-dscr {
        span {
            @include fz(32px);
        }
        p {
            @include fz(26px);
            @include lh(59px);
        }
    }
}
@include breakpoint(925) {
    .shares-item {
        width: 50%;
        margin-bottom: 30px;
    }
    .sh-dscr p {
        min-height: 40px;
    }
}
@include breakpoint(775) {
    .about-dscr {
        span {
            @include fz(35px);
        }
        p {
            @include fz(30px);
            @include lh(68px);
        }
    }
}
@include breakpoint(725) {
    .adv-dscr {
        p {
            @include fz(30px);
            @include lh(60px);
        }
    }
}
@include breakpoint(625) {
    .advantages-item {
        width: 100%;
    }
    .shares-item {
        width: 100%;
    }
    .sh-dscr p {
        min-height: 40px;
    }
    .about-container {
        min-height: 350px;
    }
    .about-dscr {
        span {
            font-size: 20px;
        }
        p {
            font-size: 16px;
            line-height: 32px;
        }
    }
}
@include breakpoint(550) {
    .adv-dscr {
        p {
            font-size: 15px;
            line-height: 30px;
        }
    }
}
.wrapper {
    overflow: hidden;
}
