.services__title {
  margin-bottom: 44px;
  min-height: 320px;
  position: relative;
  .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 66%;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: cover;
    background-position: center right;
  }
  .container {
    min-height: 320px;
    display: flex;
    align-items: center;
  }
  .text-wrap {
    padding-left: 6.7%;
    max-width: 430px;
    .main-title {
      font-size: 34px;
      margin-bottom: 20px;
      line-height: 45px;
    }
    .title-caption {
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 23px;
    }
  }
}

.services__list {
  margin-bottom: 75px;
  .container{
    display: flex;
    justify-content: space-around;
  }
  .services__item {
    width: 24%;
    &:hover {
      cursor: pointer;
    }
  }
  .services__image {
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    &_cottage {
      background-image: url("../img/services/cottage.png");
    }
    &_high {
      background-image: url("../img/services/high.png")
    }
    &_facade {
      background-image: url("../img/services/facade.png")
    }
    &_room {
      background-image: url("../img/services/room.png")
    }
  }
  .services__name {
    .name {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 25px;
    }
    .caption {
      font-family: 'Arial Narrow';
      font-style: italic;
      font-size: 16px;
    }
  }
}

.services__pre-footer {
  padding: 0 97px;
  .pre-footer__title {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 15px;
    margin-bottom: 40px;
  }
  .pre-footer__caption {
    font-size: 14px;
    line-height: 22px;
    color: #494646;
    margin-bottom:40px;
  }
}
