//First Block
h2.page-title {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 60px;
}

.service-input {
  height: 45px;
  line-height: 45px;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  padding-left:20px;
}

.button {
  height: 45px;
  line-height: 45px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
.button_orange {
  background-color: #fff200;
  &:hover{
    background-color: #e7da00;
  }
  &:active{
    background-color: #c4b900;
  }
}
.button_grey{
  width:340px;
  color: #ffffff;
  background-color: #d7d7d7;
  &:hover{
    background-color: #1f81d1;
  }
  &:active{
    background-color: #1c6aae;

  }
}
section.service-design_background-accent {
  min-height: 320px;
  position: relative;
  overflow: hidden;
  margin-bottom: 80px;
  .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 66%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0;
    z-index: 0;
  }
  .container {
    min-height: 320px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .text-wrap {
    padding-left: 6.7%;
    max-width: 50%;
    .main-title {
      font-size: 34px;
      margin-bottom: 20px;
      line-height: 45px;
    }
    .title-caption {
      font-size: 14px;
      text-transform: uppercase;
      line-height: 23px;
      font-weight: bold;
    }
  }
  .form {
    &__title {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 30px;
    }
    &__content {
      .service-label {
        font-size: 14px;
        font-weight: 600;
        display: block;
        margin-bottom: 10px;
      }
      .inputs-wrap {
        @include clearfix;
        .service-input {
          background-color: #f7f8fa;
          float: left;
          width: 68%;
        }
        .button {
          float: right;
          width: 28%;
        }
      }

    }
  }
}

//Second Block
section.service-design_to-column {
  .container {
    display: flex;
    align-items: center;
    min-height: 300px;
    margin-bottom: 60px;
    .image-wrap {
      width: 50%;
      padding-left: 15px;
    }
    .text-wrap {
      width: 50%;
      .main-title {
        font-size: 34px;
        margin-bottom: 20px;
        line-height: 45px;
      }
      .small-caption {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 35px;
      }
      .title-caption {
        font-family: 'Arial Narrow';
        font-size: 14px;
        text-transform: uppercase;
        line-height: 23px;
      }
    }
  }
}

//Samples
section.samples {
  .sample-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 90px;
    .sample-item {
      width: 32%;
      height: 200px;
      margin-bottom:20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

//Values
section.values {
  .values__item {
    margin-bottom: 100px;
    .container {
      display: flex;
      align-items: center;
      min-height: 300px;
      margin-bottom: 60px;
      .image-wrap {
        width: 50%;
        img {
          width: 90%;
          height: 100%;
        }
      }
      .text-wrap {
        width: 50%;
        .main-title {
          font-size: 34px;
          margin-bottom: 20px;
          line-height: 45px;
        }
        .small-caption {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
          margin-bottom: 35px;
        }
        .title-caption {
          font-family: 'Arial Narrow';
          font-size: 14px;
          text-transform: uppercase;
          line-height: 23px;
          margin-bottom: 35px;
        }
      }
      .form {
        &__title {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
          margin-bottom: 30px;
        }
        &__content {
          .service-label {
            font-size: 14px;
            font-weight: 600;
            display: block;
            margin-bottom: 10px;
          }
          .inputs-wrap {
            @include clearfix;
            .service-input {
              background-color: #f7f8fa;
              float: left;
              width: 68%;
            }
            .button {
              float: right;
              width: 28%;
            }
          }

        }
      }
    }
    .download__example {
      display: inline-block;
      color: #fff;
      font-size: 14px;
      text-align: center;
      padding: 14px 30px;
      border-radius: 4px;
      background-color: #d7d7d7;
      transition: background-color 0.25s;
      margin-bottom: 20px;
      &:hover {
        background-color: #fff200;
      }
    }

    &_left-image{
      .image-wrap{
        text-align: left;
      }
    }
    &_right-image{
      .image-wrap{
        text-align: right;
      }
    }
  }
}

//Discount
section.discount {
  background-image: url("../img/single-service/single-service-sale-bg.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 40px 0;
  .container-small {
    border: 1px solid rgb(226, 226, 226);
    max-width: 766px;
    padding: 40px 70px;
    border-radius: 10px;
    background-color: rgb(247, 248, 250);
    margin: 0 auto;
  }
  .discount__title {
    .title {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom:25px;
    }
    .caption{
      color: #7b7c7d;
      font-size: 14px;
      text-align: center;
      margin-bottom:30px;
    }
  }
  .discount__form{
    .areas{
      margin-bottom:30px;
      &__caption{
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
      }
      &__input{
        text-align: center;
        .service-input{
          width:80px;
          text-align: center;
          padding-left:0;
        }
      }
    }
    .forms{
      display: flex;
      justify-content: space-between;
      .forms-item{
        width:31%;
      }
    }
    .forms-item__title{
      font-weight: 600;
      text-align: center;
      font-size:14px;
      text-transform: uppercase;
      margin-bottom:17px;
    }
    .forms-item__wrap{
      background-color: #ffffff;
      padding-top: 20px;
      border: 1px solid #e2e2e2;
      .inputs-wrap{
        margin-bottom:20px;
        padding: 0 20px;
        label{
          display: block;
          font-weight: 600;
          font-size:14px;
          padding-left:10px;
          margin-bottom:5px;
        }
        .service-input{
          font-size: 14px;
          color: #7f7e7e;
          width:100%;
        }
      }
      .inputs-wrap-inline{
        display: flex;
        justify-content: space-between;
        label{
          width:50%;
          height:45px;
          line-height:45px;
        }
        .service-input{
          width:50%;
        }
      }
    }
    .forms-item__discount{
      font-size: 14px;
      text-align: center;
      height:45px;
      line-height:45px;
      border-top: 1px solid #e2e2e2;
      opacity: 0.5;
    }
    .forms-item__buttons{
      text-align: center;
      height:45px;
      line-height:45px;
      border-top: 1px solid #e2e2e2;
      border-bottom: 1px solid #e2e2e2;
      .button{
        width:100%;
      }
    }
  }
}

//Price
section.price{
  padding-top:65px;
  margin-bottom:80px;
  .price__caption{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    padding: 0 70px;
    margin-bottom:50px;
  }
  .price__table{
    //--------------
    height:300px;
    //--------------
    margin-bottom: 50px;
  }
  .price__buttons{
    display: flex;
    justify-content: center;
    margin-right:-20px;
    .button{
      margin-right:20px;
    }
  }
}

//Last
section.service-design_background-accent.last {
  margin-bottom:0;
}
@media screen and (max-width: 1200px) {
  section.service-design_to-column {
    .container {
      flex-wrap: wrap;
      .image-wrap {
        width: 100%;
        padding-left:0;
        img{
          display: block;
          width:60%;
          height:auto;
          margin: 0 auto;
        }
      }
      .text-wrap {
        margin: 0 auto;
        width: 80%;
        .main-title {
        }
        .small-caption {
        }
        .title-caption {
        }
      }
    }
  }

  section.values .values__item {
    .container {
      flex-wrap: wrap;
      .image-wrap {
        width: 100%;
        img {
          display: block;
          width:60%;
          height:auto;
          margin: 0 auto;
        }
      }
      .text-wrap {
        width: 80%;
        margin: 0 auto;
        .main-title {
        }
        .small-caption {
        }
        .title-caption {
        }
      }
    }
    .download__example {
      &:hover {
      }
    }

    &_left-image{
      .image-wrap{
      }
    }
    &_right-image{
      .image-wrap{
      }
    }
  }
  section.values .values__item_right-image{
    .container{
      flex-direction: column-reverse;
      .download__example{
        width:100%;
      }
    }
  }
}

@media screen and (max-width: 962px) {
  section.samples {
    .sample-row {
      padding: 0;
      .sample-item {
        height:250px;
        width: 48%;
      }
    }
  }
  section.service-design_background-accent.last{
    .container{
      .text-wrap{
        .form{
          &__content{
            .inputs-wrap{
              .service-input {
                float: none;
                width: 100%;
                margin-bottom:15px;
              }
              .button {
                float: none;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  section.samples {
    .sample-row {
      .sample-item {
        width: 80%;
        margin: 0 auto 20px;
      }
    }
  }

  section.discount {
    .container-small{
      padding: 40px 25px;
      .discount__form{
        .forms {
          flex-wrap: wrap;
          .forms-item {
            width: 47%;
            margin: 0 auto 20px;
          }
        }
      }
    }
  }

  section.price{
    .price__caption{
      padding: 0;
    }
  }

  section.service-design_background-accent.last{
    .container{
      .text-wrap{
        .main-title{
          font-size:28px;
          line-height:28px;
        }
        max-width: 100%;
        .form{
          &__content{
            .inputs-wrap{
              .service-input {
              }
              .button {
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {

  section.values .values__item {
    .container {
      .image-wrap {
        img {
          width: 100%;
        }
      }
      .text-wrap{
        text-align: center;
      }
      .form {
        &__title {
        }
        &__content {
          .service-label {
          }
          .inputs-wrap {
            .service-input {
              float: none;
              width: 100%;
              margin-bottom:15px;
            }
            .button {
              float: none;
              width: 100%;
            }
          }
        }
      }
    }
  }

  section.service-design_to-column {
    .container {
      .image-wrap {
        img {
          width: 100%;
        }
      }
      .text-wrap {
        width: 100%;
        text-align: center;
      }
    }
  }

  section.samples {
    .sample-row {
      .sample-item {
        width: 100%;
      }
    }
  }

  section.discount {
    .container-small{
      .discount__form{
        .forms {
          .forms-item {
            width: 100%;
          }
        }
      }
    }
  }
}
